DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
FINANPY_SITE_URL=http://127.0.0.1:8000
MERCADO_PAGO_PUBLIC_KEY=APP_USR-29617606-2334-4295-a88a-d089f6936abf
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-8191527526191249-041611-4d44970f917e6084e515d69ceb9443d6-3239335196
MERCADO_PAGO_WEBHOOK_SECRET=sua_secret_key_do_webhook_aqui
OPENAI_API_KEY=sua_openai_api_key
OPENAI_MODEL=gpt-5-mini
OPENAI_TIMEOUT_SECONDS=60
